{% extends 'base_template.html' %}
{% load static %}
{% block content %}

<main class="d-flex flex-column align-items-center justify-content-center">
    <h1 text-dark mx-5 px-4>Add a New Habit
    </h1>
    <form class="bg-light align-items-center form-control" action="add" method="POST" autofocus>
        {% csrf_token %}
        {{ form.as_p }}
        <p class="text-dark m-1 p-1">How often do you want to complete this habit?</p>
        <div class="d-flex justify-content-center text-center w-100 my-4">
            <p>
                <button type="submit" class="btn btn-outline-primary btn-lg">Add Habit</button>
            </p>
        </div>
    </form>
</main>
{% endblock %}