{% extends 'base_template.html' %}
{% load static %}.
{% block content %}


<main class="d-flex flex-column align-items-center justify-content-center">
    <div class="container h-100">
        <h3 class="text-dark p-0 mb-5">Here Are Your Weekly Habits <em class="text-dark h3"></em>!</h3>
        <!-- <div class="d-flex justify-content-between align-items-center my-3">
            <button id="clearTicks" onclick="clearItems('{{ items|safed }}')" class="btn btn-outline-primary btn-sm">Clear Ticks</button>
        </div> -->
        <div class="progress" style="height: .4rem; background-color: blue;">
            <div id="progress" class="progress-bar bg-warning" role="progressbar" aria-valuemin="0" aria-valuemax="100">
            </div>
        </div>

        <table class="table text-dark my-4">
            <thead>
                <tr>
                    <th></th>
                    <th id="0" scope="col">Edit</th>
                    <th id="1" scope="col">Delete</th>
                    <th id="2" scope="col">Mon</th>
                    <th id="3" scope="col">Tues</th>
                    <th id="4" scope="col">Wed</th>
                    <th id="5" scope="col">Thurs</th>
                    <th id="6" scope="col">Fri</th>
                    <th id="7" scope="col">Sat</th>
                    <th id="8" scope="col">Sun</th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                <tr style="line-height: 2rem;">
                    <td>{{ item.name }}</td>
                    <td><a href="/edit/{{ item.id }}" class="btn btn-white btn-outline-primary btn-sm rounded-0" 
                        data-toggle="tooltip" data-placement="top" title="Edit">
                       <i class="fa fa-edit"></i> Edit
                     </a>
                    </td>
                    <td>
                        <a href="/delete/{{ item.id }}"class="btn btn-white btn-outline-primary btn-sm rounded-0" 
                        data-toggle="tooltip" data-placement="top" title="Delete">
                       <i class="fa fa-delete"></i>
                            Delete
                        </a>
                    </td>
                    <td>
                        <input type="checkbox" class="form-check-input border-light shadow"
                            style="height: 1.6rem; width: 1.6rem;" id="{{item.id}}-monday" {% if item.monday %}checked{% endif %}>
                    </td>
                    <td>
                        <input type="checkbox" class="form-check-input border-light shadow"
                            style="height: 1.6rem; width: 1.6rem;" id="{{item.id}}-tuesday" {% if item.tuesday %}checked{% endif %}>
                    </td>
                    <td>
                        <input type="checkbox" class="form-check-input border-light shadow"
                            style="height: 1.6rem; width: 1.6rem;" id="{{item.id}}-wednesday" {% if item.wednesday %}checked{% endif %}>
                    </td>
                    <td>
                        <input type="checkbox" class="form-check-input border-light shadow"
                            style="height: 1.6rem; width: 1.6rem;" id="{{item.id}}-thursday" {% if item.thursday %}checked{% endif %}>
                    </td>
                    <td>
                        <input type="checkbox" class="form-check-input border-light shadow"
                            style="height: 1.6rem; width: 1.6rem;" id="{{item.id}}-friday" {% if item.friday %}checked{% endif %}>
                    </td>
                    <td>
                        <input type="checkbox" class="form-check-input border-light shadow"
                            style="height: 1.6rem; width: 1.6rem;" id="{{item.id}}-saturday" {% if item.saturday %}checked{% endif %}>
                    </td>
                    <td>
                        <input type="checkbox" class="form-check-input border-light shadow"
                            style="height: 1.6rem; width: 1.6rem;" id="{{item.id}}-sunday" {% if item.sunday %}checked{% endif %}>
                    </td>
                    
                </tr>
                {% empty %}
                <tr>
                    <td>Create New Habits</td>
                </tr>
                {% endfor %}
        </table>

        <div class="d-flex justify-content-center my-2 py-4">
            <a href="/add" class="btn btn-outline-primary btn-md" role="button">Add a Habit</a>
        </div>
</main>

<script src="/static/js/main.js"></script>
<script 
type="text/javascript" src="static/js/clearItems.js" ></script>

{% endblock %}
