<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Habits</title>
</head>

{% extends 'base_template.html' %}

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">My Habit Tracker</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              
      
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Tracking
                </a>
              </li>
      
          
      
            {% if user.is_authenticated %}
            {% if user.is_superuser %}
                <li class="nav-item">
                <a class="nav-link" href="#">Admin</a>
              </li>
            {%endif %}
              <li class="nav-item">
                <a class="nav-link" href="#">Logout</a>
              </li>
            {% else %}
              <li class="nav-item">
                <a class="nav-link" href="#">Register</a>
              </li>
      
              <li class="nav-item">
                <a class="nav-link" href="#">Login</a>
              </li>
            {% endif %}
      
            </ul>
            <form class="d-flex" method=POST action="#">
              {% csrf_token %}
      
              <input class="form-control me-2" type="search" placeholder="Search Habits" aria-label="Search" name="searched">
              <button class="btn btn-outline-secondary" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>

<h1>Habits
</h1>
<table>
    {% for item in items %}
        <tr>
            {% if item.done %}
                <td><strike>{{ item.name }}</strike></td>
            {% else %}
                <td>{{ item.name }}</td>
            {% endif %}
            <td>
                <a href="/toggle/{{ item.id }}">
                    Toggle
                </a>
            </td>
            <td>
                <a href="/edit/{{ item.id }}">
                    Edit
                </a>
            </td>
            <td>
                <a href="/delete/{{ item.id }}">
                    Delete
                </a>
            </td>

        </tr>
        {% empty %}
        <tr><td>Create New Habits</td></tr>
    {% endfor %}
</table>
<a href = "/add">Add a Habit</a>

</body>
</html>