{% static %}
{% extends 'base_template.html' %}

{% block content %}

<h1>Hello {{ name }}</h1>


<center>
	<h1>Hello asxjalnsxsa {{ name }}! Habits For {{ month }} {{ year }}</h1>

	As of {{ time }}
	<br /><br />
	{{ cal|safe }}
	<br /><br />
</center>


<table>
    {% for item in items %}
        <tr>
            {% if item.done %}
                <td><strike>{{ item.name }}</strike></td>
            {% else %}
                <td>{{ item.name }}</td>
            {% endif %}
            <td>
                <a href="/toggle/{{ item.id }}">
                    Toggle
                </a>
            </td>
            <td>
                <a href="/edit/{{ item.id }}">
                    Edit0oikjnb
                </a>
            </td>
            <td>
                <a href="/delete/{{ item.id }}">
                    Delete
                </a>
            </td>

        </tr>
        {% empty %}
        <tr><td>Create New Habits</td></tr>
    {% endfor %}
</table>
<a href = "/add">Add a Habit</a>



</p>
</div>
{% if user.is_authenticated %}

</div>
<br />

	{% else %}
Sorry...You have no habits...
	{% endif %}
{% endblock %}
<center>
	<br /><br /><br /><br />
	Copyright (c) {{ current_year }}

</center>