{% extends 'base_template.html' %}

{% block content %}

<h1>Login</h1>


<form action="" method=POST class="my-5">
  {% csrf_token %}
    <div class="mb-3 d-flex flex-column">
      <label for="exampleInputEmail1" class="form-label autofocus">Username</label>
      <input type="text" class="form-control" name="username" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" name="password">
    </div>
    <input type="submit" value="Submit" class="btn btn-primary py-3">
  </form>

  {% endblock %}